/*banner*/

body {
	overflow-x: hidden;
}

.wrap-banner {
	width: 100%;
	overflow: hidden;
	position: relative;
	clear: both
}

.flexslider {
	margin: 0 auto;
	position: relative;
	width: 100%;
	overflow: hidden;
	zoom: 1
}

.flex-viewport {
	-webkit-transition: all 1s ease;
	-moz-transition: all 1s ease;
	transition: all 1s ease
}

.flexslider .slides {
	zoom: 1
}

.flex-direction-nav a {
	width: 70px;
	height: 70px;
	line-height: 99em;
	overflow: hidden;
	margin: -35px 0 0;
	display: block;
	background: url("../images/icon/ad_ctr.png") no-repeat;
	position: absolute;
	top: 50%;
	z-index: 10;
	cursor: pointer;
	opacity: 0;
	filter: alpha(opacity=0);
	-webkit-transition: all 0.3s ease;
	border-radius: 35px
}

.flex-direction-nav .flex-next {
	background-position: 0 -70px;
	right: 50px
}

.flex-direction-nav .flex-prev {
	left: 50px
}

.flexslider:hover .flex-next {
	opacity: 0.5;
	filter: alpha(opacity=20)
}

.flexslider:hover .flex-prev {
	opacity: 0.5;
	filter: alpha(opacity=20)
}

.flexslider:hover .flex-next:hover,
.flexslider:hover .flex-prev:hover {
	opacity: 1;
	filter: alpha(opacity=50)
}

.flex-control-nav {
	width: 100%;
	position: absolute;
	bottom: 20px;
	text-align: center;
	overflow: hidden;
	text-align: center
}

.flex-control-nav li {
	zoom: 1;
	height: 6px;
	width: 56px;
	display: inline-block;
	margin: 0 5px
}

.flex-control-paging li a {
	display: block;
	overflow: hidden;
	text-indent: -99em;
	height: 6px;
	width: 56px;
	border-radius: 3px;
	background: #fff;
	float: left;
	cursor: pointer
}

.flex-control-paging li a.flex-active {
	background: #c4b6a6;
	display: block
}

.slides li {
	width: 100%;
	height: 380px;
	_float: left;
	display: none;
	background-position: center center
}

.slides .li_1 {
	background: no-repeat center
}

.slides .li_2 {
	background: no-repeat center
}

.slides .li_3 {
	background: no-repeat center
}

.slides .li_4 {
	background: no-repeat center
}

.slides li a {
	display: block;
	height: 380px;
	width: 100%
}

.section_one .section_one_ul {
	padding: 40px 0;
	overflow: hidden;
}

.section_one .section_one_ul {
	padding-left: 44px;
}

.section_one .section_one_ul li {
	float: left;
	position: relative
}

.section_one .section_one_ul li:hover {}

.section_one .section_one_ul li a {
	width: 260px;
	display: block;
	position: relative
}

.section_one .section_one_ul li img {
	width: 62px;
	display: block;
	float: left;
}

.section_one .section_one_ul li .label-box {
	float: left;
	padding-left: 16px
}

.section_one .section_one_ul li .label-box em {
	display: block;
	font-size: 18px;
	color: #333;
	margin-bottom: 12px;
	margin-top: 4px;
}

.section_one .section_one_ul li .label-box .label-desc {
	display: block;
	font-size: 12px;
	color: #999
}

.section_one .section_one_ul li i {
	width: 1px;
	height: 62px;
	display: block;
	background: #e5e5e5;
	position: absolute;
	top: 5px;
	right: -50px
}

.notice_wrap .notice_con {
	width: 100%;
	margin: 0 auto;
	height: 100%;
	line-height: 64px;
	overflow: hidden;
	position: relative;
	font-size: 14px
}

.notice_tit {
	float: left;
	color: #666;
	font-size: 12px;
	padding-right: 10px
}

.notice_li li a {
	color: #666;
	font-size: 12px;
}

.notice_li li a:hover {
	color: #a01e3f;
}

.notice_more {
	float: right;
	font-size: 12px;
	color: #666
}

.notice_more i {
	float: left;
	font-style: normal;
	line-height: 64px
}

.notice_more span {
	display: block;
	width: 78px;
	height: 20px;
	line-height: 20px;
	margin-top: 22px;
	background: url(../images/icon/more_icon.png) no-repeat right center;
}

.notice_more:hover i {
	color: #a01e3f
}

.notice_more:hover span {
	background: url("../images/icon/more_icon_cur.png") no-repeat right center
}

.section_one .notice_con ul {
	width: 700px;
	height: 30px;
	line-height: 30px;
	overflow: hidden;
	margin: 0 auto;
	float: left;
	margin-top: 17px;
	padding-top: 0
}

.notice_con ul li {
	height: 30px;
	line-height: 30px;
	overflow: hidden
}

.notice_con ul li span {
	color: #989898;
	margin-left: 28px
}

.notice_con ul li .spantitle {
	display: block;
	width: 350px;
	float: left;
	margin-right: 50px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis
}

.notice_con ul li .spandate {
	display: block;
	width: 150px;
	float: left
}

.notice_icon {
	float: left;
	display: block;
	width: 16px;
	height: 16px;
	margin: 24px 10px 0 0;
	background: url("../images/index/icon_04.png") no-repeat
}

.section_two {
	width: 100%;
	background: #f3f3f3;
	overflow: hidden
}

.novice_top {
	overflow: hidden;
	margin-bottom: 20px
}

.novice_top .fl span {
	font-size: 20px;
	padding-right: 18px;
	line-height: 40px;
	float: left;
	color: #1b1b1b;
}

.novice_top .fl i {
	width: 2px;
	height: 15px;
	display: block;
	color: #666;
	float: left;
	margin-top: 14px
}

.novice_top .fl em {
	padding-left: 18px;
	font-size: 18px;
	line-height: 40px;
	color: #9c9e9f
}

.invest_new img {
	width: 402px;
	height: 231px;
	border-radius: 5px;
	overflow: hidden
}

.invest_msg {
	width: 569px;
	height: 231px;
	background: #fff;
	overflow: hidden
}

.invest_msg .data {
	padding: 20px 0 40px;
	text-align: center;
	border-bottom: 1px solid #dcdcdc;
	overflow: hidden
}

.invest_msg .fl {
	width: 33.33%;
	position: relative
}

.invest_msg span {
	display: block;
	color: #121212
}

.invest_msg span.rate {
	color: #40a2fb
}

.invest_msg .text {
	color: #666
}

.invest_msg .limit:before,
.money:before {
	content: "";
	display: block;
	height: 87px;
	position: absolute;
	left: 0;
	border-right: 1px solid #ccc
}

.invest_msg .link a {
	text-align: center;
	display: block;
	padding-top: 25px;
	line-height: 2;
	color: #40a2fb
}

.invest_new,
.invest_supply {
	overflow: hidden;
	margin-bottom: 20px
}

.invest_supply .invest_msg {
	width: 750px;
	height: 370px;
	margin-top: 15px
}

.invest_item_tit {
	color: #121212;
	line-height: 2;
	padding: 15px 12px;
	border-bottom: 1px solid #dcdcdc;
	margin-bottom: 50px
}

.invest_supply .invest_msg .data {
	border-bottom: 0
}

.invest_supply .invest_msg .data .fl {
	width: 25%
}

.invest_supply .invest_msg .data .link a {
	width: 120px;
	height: 48px;
	border: 1px solid #40A2FB;
	text-align: center;
	line-height: 50px;
	color: #40A2FB;
	padding-top: 0;
	margin: 20px 0 0 25px
}

.invest_supply .invest_msg .data .link a:hover {
	background: #40A2FB;
	color: #fff
}

.invest_supply .invest_msg .data .link a.default {
	border: 1px solid #ccc;
	background: #ccc;
	color: #fff
}

.invest_supply .invest_msg .data .link a.default:hover {
	border: 1px solid #bbb;
	background: #bbb
}

.progress_wrap {
	padding-left: 50px;
	overflow: hidden;
	margin-top: 31px
}

.invest_supply .progress_wrap span {
	color: #40A2FB;
	width: 125px
}

.progress {
	width: 520px;
	margin-right: 38px;
	margin-top: 6px
}

.outer {
	width: 100%;
	height: 4px;
	background: #eeeeee;
	position: relative;
}

.inner {
	height: 4px;
	background: #40a2fb;
	position: absolute;
	top: 0;
	left: 0;
	width: 0;
	transition: all .5s;
	-moz-transition: all .5s;
	-webkit-transition: all .5s;
	-o-transition: all .5s;
}

.invest_supply {
	position: relative;
	overflow: inherit;
	transition: all 0.2s linear
}

.invest_safe img,
.invest_supply img {
	position: absolute;
	top: 0;
	left: 0
}

.invest_supply .invest_msg:hover {
	box-shadow: 0 15px 30px rgba(0, 0, 0, .1);
	transform: translate3d(0, -2px, 0)
}

.invest_kind_one {
	padding-top: 20px
}

.invest_safe {
	position: relative;
	overflow: inherit;
	margin-bottom: 20px
}

.invest_safe .invest_msg {
	width: 750px;
	height: 378px;
	margin-top: 15px;
	padding-top: 20px
}

.invest_safe .invest_msg li {
	width: 226px;
	height: 348px;
	border: 1px solid #eeeeee;
	margin-left: 16px
}

.invest_safe_tit {
	line-height: 58px;
	color: #fff;
	background: #f7aa46;
	text-align: center;
	border-bottom: 1px solid #eeeeee;
	overflow: hidden;
	width: 100%;
	white-space: nowrap;
	text-overflow: ellipsis
}

.invest_safe_msg p {
	padding: 15px 0 0;
	text-align: center;
	margin-bottom: 10px;
	line-height: 18px
}

.invest_safe_msg p span {
	color: #808080;
	display: inline-block;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
	width: 80px
}

.invest_safe_msg p i {
	display: inline-block;
	color: #808080;
	margin: 0 16px
}

.invest_safe_msg .invest_safe_data dl {
	width: 50%;
	overflow: hidden;
	text-align: center;
	position: relative
}

.invest_safe_data dl dt {
	color: #40A2FB;
	line-height: 1.8
}

.invest_safe_data dl i {
	font-size: 14px
}

.invest_safe_msg .invest_safe_data dl.fl:before {
	content: "";
	border-right: 1px solid #dcdcdc;
	position: absolute;
	top: 0;
	right: 0;
	height: 100%
}

.invest_safe_msg .invest_safe_data dl.fr dt {
	color: #121212
}

.invest_safe_data {
	overflow: hidden;
	margin-bottom: 10px
}

.progress_safe {
	padding: 10px 12px 0;
	overflow: hidden
}

.progress_safe .progress {
	width: 484px;
	margin-right: 0;
	margin-top: 0
}

.progress_safe .percentage_text {
	color: #999999;
	width: 100%;
	font-size: 12px;
	padding: 10px 0 0
}

.progress_safe .percentage_text span {
	float: right;
	color: #999;
}

.progress_safe .percentage_text b {
	font-weight: normal
}

.invest_safe_btn {
	padding: 0 12px;
	overflow: hidden;
	margin-top: 15px
}

.invest_safe_btn a {
	display: block;
	text-align: center;
	width: 100%;
	height: 44px;
	line-height: 44px;
	border: 1px solid #40A2FB;
	color: #40A2FB
}

.invest_safe_btn a:hover {
	color: #fff;
	background: #40A2FB
}

.invest_safe .invest_msg li {
	transition: all 0.2s linear
}

.invest_safe .invest_msg li:hover {
	box-shadow: 2px 2px 5px rgba(0, 0, 0, .1)
}

.invest_safe_btn .default {
	border: 1px solid #ccc;
	background: #ccc;
	color: #fff
}

.invest_safe_btn .default:hover {
	border: 1px solid #bbb;
	background: #bbb
}

.section_three {
	padding: 20px 0;
	overflow: hidden;
	background: #faf9f9
}

.associated_Media li {
	background: #fff;
	text-align: center
}

.associated_Media {
	overflow: hidden;
	margin-bottom: 20px
}

.invest_tip {
	line-height: 40px;
	text-align: center;
	color: #999;
}

.invest_tip a {
	color: #999;
}

.wrap-banner {
	position: relative;
}

.user_con {
	width: 1080px;
	position: absolute;
	top: 0;
	left: 50%;
	margin-left: -540px;
}

.user_register {
	position: absolute;
	height: 251px;
	padding-top: 42px;
	width: 304px;
	border-radius: 8px;
	top: 44px;
	right: 0;
	text-align: center;
	background: rgba(255, 255, 255, 0.9);
}

.user_register dl {
	padding-bottom: 20px;
}

.user_register dl dt {
	color: #2b2b2b;
	font-size: 16px;
}

.user_register dl dd {
	font-size: 66px;
	color: #a01e40;
	padding: 18px 0 15px;
}

.user_register dl dd span {
	font-size: 42px;
}

.user_register a.btn {
	display: inline-block;
	width: 260px;
	height: 44px;
	line-height: 44px;
	text-align: center;
	color: #fff;
	background: #cab792;
	border-radius: 5px;
	font-size: 16px;
}

.user_register .to {
	color: #676767;
	margin-top: 20px;
}

.user_register .to a {
	color: #a01e3f;
	padding-left: 18px;
}

.con_border {
	width: 100%;
	overflow: hidden;
	border-bottom: 1px solid #eee;
}

.section_one .section_one_ul li a:hover img {
	-webkit-transform: rotateY(360deg);
	-moz-transform: rotateY(360deg);
	-ms-transform: rotateY(360deg);
	-o-transform: rotateY(360deg);
	transform: rotateY(360deg);
}

.section_one .section_one_ul li img {
	-webkit-transition: all 0.4s linear;
	-moz-transition: all 0.4s linear;
	-ms-transition: all 0.4s linear
}

.section_one .section_one_ul li a {
	display: block;
}

.operation_data li {
	line-height: 88px;
	margin-right: 52px;
	font-size: 16px;
	color: #333;
}

.operation_data li.fr {
	margin-right: 0;
}

.operation_data li span {
	font-size: 24px;
	color: #a01e3f;
}

.operation_data li a {
	display: block;
	width: 110px;
	height: 34px;
	border: 1px solid #cab791;
	text-align: center;
	line-height: 34px;
	margin-top: 28px;
	color: #cab791;
}

.operation_data li a:hover {
	background: #cab791;
	color: #fff;
}

.section_two h3 {
	line-height: 80px;
	font-size: 24px;
	font-weight: normal;
	color: #1B1B1B;
}

.section_two h3 em {
	font-style: normal;
	color: #666;
	font-size: 14px;
	padding-left: 18px;
}

.guide_step {
	background: #fff;
	padding: 0 28px;
	overflow: hidden;
	width: 1024px;
}

.guide_step li {
	margin-top: 20px;
	width: 25%;
	text-align: center;
	margin-bottom: 15px;
	background: #fff;
}

.guide_step li dl {
	padding: 24px 0 45px;
	width: 80%;
	display: inline-block;
}

.guide_step li dt {
	margin-bottom: 10px;
}

.guide_step li dd {
	color: #0e0e0e;
	font-size: 16px;
}

.guide_step li dd span {
	display: inline-block;
	width: 180px;
	height: 38px;
	background: #e0e0e0;
	text-align: center;
	line-height: 38px;
	margin-top: 22px;
	color: #fff;
	border-radius: 5px;
}

.guide_step li.cur dd span {
	background: #cab792;
}

.product_remmend_item {
	background: #fff;
	padding: 42px 38px;
	overflow: hidden;
}

.product_remmend_item a {
	display: block;
	position: relative;
}

.product_remmend_item dl dt {
	font-size: 16px;
	color: #9b9b9b;
}

.product_remmend_item dl dd {
	font-size: 12px;
	color: #c1c1c1;
	padding-left: 5px;
}

.product_remmend_item dl dt b {
	font-size: 40px;
	font-weight: normal;
	color: #9f1d3e;
}

.product_remmend_item dl dt b i {
	font-size: 20px;
	font-style: normal;
}

.product_remmend_item dl dt span {
	font-size: 24px;
	color: #343434;
}

.product_remmend_item em {
	position: absolute;
	top: 40px;
	right: 0;
	width: 174px;
	height: 34px;
	text-align: center;
	line-height: 34px;
	border: 1px solid #cab791;
	color: #cab791;
}

.product_remmend_item em.overdue {
	color: #dbdbdb;
	border: 1px solid #dbdbdb;
}

.product_remmend_item:hover em.overdue {
	background: #dbdbdb;
	color: #fff;
}

.moseenter_shadow:hover {
	cursor: pointer;
	-webkit-transition: all 0.2s linear;
	-moz-transition: all 0.2s linear;
	-ms-transition: all 0.2s linear;
	-o-transition: all 0.2s linear;
	transition: all 0.2s linear;
}

.moseenter_shadow:hover {
	-webkit-transform: translate(0, -10px);
	-moz-transform: translate(0, -10px);
	transform: translate(0, -10px);
	box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
}

.product_remmend_item:hover em {
	background: #cab791;
	color: #fff;
}

.product_remmend_item dl {
	width: 190px;
}

.product_remmend_item dl.item_name {
	width: 315px;
	display: -webkit-box;
	text-overflow: ellipsis;
	-webkit-line-clamp: 1;
	-webkit-box-orient: vertical;
	word-break: break-all;
	overflow: hidden;
}

.product_remmend_item dl dt {
	line-height: 60px;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}

.product_scf_item li {
	display: block;
	padding: 34px 26px 34px 26px;
	overflow: hidden;
	background: #fff;
	width: 203px;
}

.product_scf_item li h5 {
	font-size: 16px;
	color: #494949;
	font-weight: normal;
	margin-bottom: 20px;
	text-align: center;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}

.product_scf_item li a {
	display: block;
}

.product_scf_item li h6 {
	text-align: center;
}

.product_scf_item li h6 span {
	display: inline-block;
	text-align: center;
	width: 108px;
	height: 20px;
	color: #cab792;
	border: 1px solid #cab792;
	line-height: 20px;
	overflow: hidden;
	border-radius: 4px;
	margin-bottom: 33px;
	font-weight: normal;
	font-size: 12px;
}

.product_scf_item li dl dt {
	font-size: 40px;
	color: #a11d40;
	text-align: center;
	margin-bottom: 12px;
}

.product_scf_item li dl dt b {
	font-weight: normal;
}

.product_scf_item li dl dt i {
	font-size: 20px;
	font-style: normal;
	font-weight: normal;
}

.product_scf_item li dl dd {
	font-size: 12px;
}

.product_scf_item li dl dt em {
	font-size: 24px;
}

.product_scf_item li dl {
	text-align: center;
	margin-bottom: 26px;
}

.progress_safe {
	padding: 0;
}

.inner {
	background: #cab792;
	transition: all 1S ease 0s;
}

.outer {
	color: #f1f1f1;
}

.product_scf_btn {
	text-align: center;
	margin-top: 36px;
}

.product_scf_btn a {
	display: inline-block;
	width: 174px;
	height: 34px;
	text-align: center;
	line-height: 34px;
	color: #cab792;
	border: 1px solid #cab792;
	font-size: 14px;
	margin: 0 auto;
}

.product_scf_btn a.default {
	color: #dbdbdb;
	border: 1px solid #dbdbdb;
}

.product_scf_item li:hover .product_scf_btn a {
	background: #cab792;
	color: #fff;
}

.product_scf_item li:hover .product_scf_btn a.default {
	background: #dbdbdb;
	color: #fff;
}

.product_scf li {
	margin-right: 20px;
}

.product_scf .no_mr {
	margin-right: 0;
}

.product_axt_item {
	background: #fff;
	overflow: hidden;
	float: left;
	width: 484px;
	padding: 34px 24px 44px;
	position: relative;
}

.product_axt .product_axt_item:nth-of-type(2) {
	float: right;
}

.product_axt_item h5 {
	font-size: 16px;
	color: #333333;
	font-weight: normal;
	margin-bottom: 34px;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}

.product_axt_item h5 span {
	background: #d20f40;
	color: #fff;
	font-size: 10px!important;
	display: inline-block;
	width: 70px;
	height: 18px;
	line-height: 18px;
	border-radius: 3px;
	margin-left: 8px;
	text-align: center;
}

.product_axt_item dl dt b {
	font-size: 28px;
	font-weight: normal;
	color: #9f1d3e;
}

.product_axt_item dl dt b i {
	font-size: 18px;
	font-style: normal;
}

.product_axt_item dl {
	margin-right: 40px;
}

.product_axt_item dl dd {
	font-size: 12px;
	color: #c1c1c1;
	padding-left: 5px;
}

.product_axt_item dl:nth-of-type(2) dd,
.product_axt_item dl:nth-of-type(3) dd {
	padding-left: 0;
}

.product_axt_item dl dt span {
	font-size: 18px;
	color: #343434;
	padding-top: 10px;
	display: block;
}

.product_axt_item dl dt {
	font-size: 16px;
	line-height: 60px;
	color: #9b9b9b;
	height: 67px;
}

.product_axt_item em {
	position: absolute;
	top: 112px;
	right: 30px;
	width: 109px;
	height: 34px;
	text-align: center;
	line-height: 34px;
	border: 1px solid #cab791;
	color: #cab791;
}

.product_axt_item em.default {
	color: #dbdbdb;
	border: 1px solid #dbdbdb;
}

.product_axt_item:hover em.default {
	background: #dbdbdb;
	color: #fff;
}

.product_axt_item:hover em {
	background: #cab791;
	color: #fff;
}

.core_company_wrap {
	width: 100%;
	overflow: hidden;
	background: #fff url(../images/index/company_bg.png) no-repeat right top;
}

.core_company_wrap li {
	float: left;
	padding: 48px 0;
	margin-right: 12px;
}

.core_company_wrap li img {
	transition: all .5s;
	-moz-transition: all .5s;
	-webkit-transition: all .5s;
	-o-transition: all .5s;
}

.core_company_wrap ul {
	padding-left: 54px;
}

.core_company_wrap li:nth-of-type(1) {
	margin-right: 42px;
}

.core_company_wrap li:hover img {
	transform: scale(1.1);
	-moz-transform: scale(1.1);
	-webkit-transform: scale(1.1);
	-o-transform: scale(1.1);
}

.section_two h3 .notice_more i {
	line-height: 80px;
}

.section_two h3 .notice_more span {
	margin-top: 30px;
}

.product_scf {
	/*overflow: hidden;*/
}

.product_axt .progress_safe {
	padding-top: 20px;
}

.product_axt_wrap {
	/*overflow: hidden;*/
}

.guide_step li {
	cursor: pointer;
}

.guide_step li:hover img {
	-webkit-transform: translate(0, -10px);
	-moz-transform: translate(0, -10px);
	transform: translate(0, -10px);
	-webkit-transition: all 0.2s linear;
	-moz-transition: all 0.2s linear;
	-ms-transition: all 0.2s linear;
	-o-transition: all 0.2s linear;
	transition: all 0.2s linear;
}

.operation_data li.nmr {
	margin-right: 0;
}

.product_scf .progress_safe .progress {
	width: 203px;
}

.product_axt .progress_safe .progress {
	width: 100%;
}