.transformY {
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
}
.container {
  width: 1080px;
  margin: 0 auto;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.information-bg {
  background: #f3f3f3;
  padding-top: 2px;
  overflow: hidden;
  padding-bottom: 20px;
}
.information-bg .swiper-container {
  width: 90%;
}
.information-bg .swiper-wrap {
  width: 94%;
  padding: 0 44px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  position: relative;
}
.information-bg .swiper-slide {
  text-align: center;
  width: 235px;
  height: auto;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.information-bg .swiper-slide dl {
  width: 235px;
}
.information-bg .swiper-slide dt {
  border: 1px solid #ccc;
  padding: 34px 10px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.information-bg .swiper-slide dt img {
  width: 100%;
  height: 168px;
  overflow: hidden;
}
.information-bg .swiper-slide dd {
  font-size: 18px;
  line-height: 24px;
  color: #666;
  margin-top: 28px;
}
.information-bg .swiper-button-prev {
  left: 0%;
  color: #fff;
  font-size: 30px;
  width: 66px;
  height: 66px;
  border-radius: 100%;
  background: url("../images/infor/left.png") no-repeat;
}
.information-bg .swiper-button-next {
  right: 0%;
  color: #fff;
  font-size: 30px;
  width: 66px;
  height: 66px;
  border-radius: 100%;
  background: url("../images/infor/right.png") no-repeat;
}
.information-header {
  width: 100%;
  background: #fff;
  overflow: hidden;
}
.information-header li {
  margin-right: 46px;
}
.information-header li a {
  font-size: 14px;
  color: #333;
  line-height: 70px;
}
.information-header li.cur a {
  color: #a01e3f;
}
.information-banner {
  background: #fff;
  padding: 28px 34px 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin-top: 16px;
  overflow: hidden;
}
.information-banner img {
  width: 100%;
  height: 166px;
}
.information-banner li {
  font-size: 14px;
  color: #333;
  line-height: 70px;
  cursor: pointer;
  margin-right: 46px;
}
.information-banner li.cur {
  color: #a01e3f;
}
.information-about-us-wrap {
  overflow: hidden;
}
.information-about-us-wrap .about-bg {
  padding: 0 34px 30px;
  background: #fff;
  margin-top: 16px;
}
.information-about-us-wrap .about-bg .about-employee {
  text-align: center;
}
.information-about-us-wrap .about-bg .about-img {
  text-align: center;
}
.information-about-us-wrap .about-bg .history-wrap {
  padding: 24px 28px 30px;
  overflow: hidden;
}
.information-about-us-wrap .about-bg .history-wrap h5 {
  font-size: 22px;
  color: #CAB792;
  margin-bottom: 24px;
  line-height: 1;
  font-weight: normal;
}
.information-about-us-wrap .about-bg .history-wrap li {
  background: #f9f9f9;
  line-height: 74px;
  color: #666;
  border-left: 1px solid #CAB792;
  padding-left: 32px;
  margin-bottom: 24px;
  font-size: 18px;
}
.information-about-us-wrap .about-bg h3 {
  color: #333;
  font-size: 14px;
  padding: 30px 0;
  text-align: center;
}
.information-about-us-wrap .about-bg h3 span {
  position: relative;
  padding-left: 38px;
}
.information-about-us-wrap .about-bg h3 span:before {
  content: '';
  position: absolute;
  top: -7px;
  left: 0;
  width: 28px;
  height: 28px;
  background: url("../images/infor/icon_01.png") no-repeat;
}
.information-about-us-wrap .about-bg h3 span.icon_02:before {
  background: url("../images/infor/icon_02.png") no-repeat;
}
.information-about-us-wrap .about-bg h3 span.icon_03:before {
  background: url("../images/infor/icon_03.png") no-repeat;
}
.information-about-us-wrap .about-bg h3 span.icon_04:before {
  background: url("../images/infor/icon_04.png") no-repeat;
}
.information-about-us-wrap .about-bg h3 span.icon_05:before {
  background: url("../images/infor/icon_05.png") no-repeat;
}
.information-about-us-wrap .about-bg h3 span.icon_06:before {
  background: url("../images/infor/icon_06.png") no-repeat;
}
.information-about-us-wrap .about-bg h3 span.icon_07:before {
  background: url("../images/infor/icon_07.png") no-repeat;
}
.information-about-us-wrap .about-bg h3 span.icon_08:before {
  background: url("../images/infor/icon_08.png") no-repeat;
}
.information-about-us-wrap .about-bg h3 span.icon_09:before {
  background: url("../images/infor/icon_09.png") no-repeat;
}
.information-about-us-wrap .about-bg h3 span.icon_10:before {
  background: url("../images/infor/icon_10.png") no-repeat;
}
.information-about-us-wrap .about-bg h4.sign span {
  height: 70px;
  line-height: 100px;
  text-align: right;
  width: 100%;
  display: block;
  position: relative;
  padding-right: 130px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  font-size: 18px;
  box-sizing: border-box;
  color: #333;
  font-weight: normal;
}
.information-about-us-wrap .about-bg h4.sign span:before {
  content: '';
  width: 114px;
  height: 92px;
  background: url("../images/infor/sign.png") no-repeat right center;
  position: absolute;
  top: 70%;
  right: 0;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
}
.information-about-us-wrap .about-bg p {
  line-height: 26px;
  color: #666;
  font-size: 14px;
  padding: 0 13px;
}
.information-about-us-wrap .about-bg table.info {
  width: 100%;
  padding: 0 34px 30px;
  overflow: hidden;
}
.information-about-us-wrap .about-bg table.info tr {
  display: block;
}
.information-about-us-wrap .about-bg table.info tr td:nth-of-type(1) {
  width: 240px;
  text-align: left;
  color: #999;
}
.information-about-us-wrap .about-bg table.info tr td {
  font-size: 14px;
  color: #666;
  line-height: 30px;
}
.information-about-us-wrap .about-bg table.info tr td a {
  color: #666;
}
.information-about-us-wrap .about-bg table.info tr td span {
  color: #a01e3f;
  cursor: pointer;
}
.information-about-us-wrap .about-bg table.info tr.mt34 {
  margin-top: 34px;
}
.team-wrap b {
  font-size: 18px;
  color: #333;
  margin: 16px 10px;
  font-weight: normal;
  display: block;
}
.team-wrap span {
  display: block;
  font-size: 14px;
  color: #999;
  margin-bottom: 18px;
}
.team-wrap p {
  line-height: 22px;
  font-size: 14px;
  color: #666;
  text-align: left;
}
.about-us-group {
  display: none;
}
.about-us-group.cur {
  display: block;
}
.disclosure_msg_Wrap .about_con {
  display: none;
}
.disclosure_msg_Wrap h4 {
  text-align: center;
  padding-top: 36px;
  margin-bottom: 6px;
  overflow: hidden;
}
.disclosure_msg_Wrap h4 span:before {
  content: "";
  display: block;
  width: 0;
  height: 0;
  border-width: 0 7px 10px;
  border-style: solid;
  border-color: transparent transparent #666;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  cursor: pointer;
  right: 5px;
}
.disclosure_msg_Wrap h4 span {
  position: relative;
  cursor: pointer;
  padding-right: 36px;
  font-size: 20px;
  font-weight: normal;
  color: #333;
}
.disclosure_msg_Wrap h4 span.cur:before {
  content: "";
  display: block;
  width: 0;
  height: 0;
  border-width: 10px 7px 0;
  border-style: solid;
  border-color: #666 transparent transparent;
  position: absolute;
  top: 50%;
  cursor: pointer;
  right: 5px;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
}
.audit_img img {
  width: 97%;
}
.audit_img {
  text-align: center;
  overflow: hidden;
}
.audit_img li {
  float: left;
  width: 50%;
}
.audit_img {
  margin-top: 36px;
}
.disclosure_msg_Wrap h4 a {
  float: right;
  color: #666;
  font-size: 16px;
  line-height: 28px;
  font-weight: normal;
}
.icp_msg h4 {
  font-size: 16px;
  color: #454444;
  line-height: 1;
  margin-bottom: 30px;
}
.icp_msg {
  background: #fff;
  margin-top: 30px;
}
.icp_msg p {
  color: #454444;
  line-height: 2;
  font-size: 14px;
}
.icp_msg_group {
  margin-bottom: 30px;
}
.disclosure_img_wrap {
  text-align: center;
}
.charge_decription table {
  width: 100%;
}
.charge_decription {
  width: 956px;
  margin: 0 auto;
}
.charge_decription > tbody > tr {
  border: 1px solid #ddd;
  text-align: left;
}
.charge_decription .pd1 {
  padding: 13px 0 13px 30px;
}
.charge_decription table > tbody > tr > td,
.charge_decription table > tbody > tr > th {
  border: 1px solid #ddd;
  font-size: 16px;
  color: #666;
}
.charge_decription .pd3 {
  padding: 13px 0 13px 40px;
}
.charge_decription .pd2 {
  padding: 13px 30px 13px 20px;
}
.charge_decription table > tbody > tr:nth-child(odd) {
  background: #fbfcff;
}
.charge_decription_mater td.pd3 {
  padding-left: 20px;
  padding-right: 20px;
}
.report_li_group li {
  width: 25%;
}
.report_li_group li {
  text-align: center;
  margin-bottom: 40px;
}
.report_year {
  padding: 0 30px;
}
.report_li_group li dd {
  color: #333;
  line-height: 1;
  margin-top: 17px;
}
.dis-top {
  margin-top: 16px;
}
.disclosure_r_top h3 {
  padding-bottom: 0;
  border: 0;
}
.about-img {
  text-align: center;
}
.risk-img {
  margin: 46px 0 40px;
  padding-bottom: 48px;
  border-bottom: 1px dashed #dedede;
}
.risk_msg_mb {
  margin: 0 0 40px;
  padding-bottom: 48px;
  border-bottom: 1px dashed #dedede;
}
.law_con h3,
.safety_img h3 {
  color: #3c3c3c;
  font-size: 20px;
  margin-bottom: 20px;
  font-weight: normal;
}
.law_group {
  padding: 15px;
  overflow: hidden;
  margin: 15px 0;
  background: #f9f9f9;
}
.law_tit {
  color: #333;
  margin-bottom: 10px;
}
.law_group_con p {
  font-size: 14px;
  color: #666;
  line-height: 2;
}
.law_con {
  padding-bottom: 40px;
}
.law_group a:hover {
  color: #a01e3f;
}
.law_one {
  margin-bottom: 20px;
}
.law_group a {
  font-size: 16px;
  color: #666;
  line-height: 2;
}
.law_group p {
  font-size: 14px;
  color: #666;
  line-height: 2;
}
.disclosure_r_top .law_con h3 {
  font-size: 16px;
  border-bottom: none;
  padding-bottom: 6px;
  margin-bottom: 0;
}
.law_group {
  background: #fff;
  padding: 30px 0;
  margin: 0;
  border-bottom: 1px dashed #dedede;
}
.law_one {
  margin-bottom: 36px;
}
.media_con h3 {
  font-size: 22px;
  line-height: 2;
  margin: 10px 0 20px;
  color: #333333;
  font-weight: normal;
  margin-bottom: 10px;
}
.media_wrap {
  background: #fff;
  width: 1002px;
  margin: 0 auto 50px;
  padding-bottom: 20px;
}
.media_group {
  padding: 44px 0 44px;
  overflow: hidden;
  border-top: 1px dashed #dedede;
}
.media_top h3 {
  border-bottom: 1px dashed #dedede;
  overflow: hidden;
  padding-bottom: 44px;
}
.media_group_l {
  width: 242px;
}
.media_group_l img {
  width: 202px;
  overflow: hidden;
  height: 142px;
}
.disclosure_r_top .media_group_r {
  width: 785px;
  overflow: hidden;
}
.media_group_r h6 {
  color: #333;
  font-weight: normal;
  margin-bottom: 15px;
}
.media_group_r .media_msg span {
  color: #999;
  margin-bottom: 15px;
  line-height: 1;
}
.media_group_r .media_msg span:nth-of-type(2) {
  padding-left: 10px;
}
.media_group_r .media_msg span:nth-of-type(2):before {
  content: '|';
  padding-right: 10px;
}
.media_group_r p {
  line-height: 30px;
  color: #666;
  height: 84px;
  overflow: hidden;
}
.media_group_r p span {
  color: #666;
  display: inline-block;
}
.media_group_r a:hover {
  color: #a01e3f;
}
.media_group_r a {
  display: block;
}
.media_group_r p span:hover {
  color: #a01e3f;
}
.media_top h3 {
  text-align: center;
  color: #3c3c3c;
  font-size: 20px;
  margin-top: 28px;
  font-weight: normal;
}
.media_sub_msg {
  font-size: 14px;
  color: #999999;
  text-align: left;
  padding: 0 0 28px;
}
.media_msg_con p {
  line-height: 30px;
  font-size: 14px;
  color: #666;
}
.media_msg_con p span {
  color: #666 !important;
}
.media_top h3 {
  text-align: left;
  font-size: 16px;
  color: #333;
  margin-top: 0;
}
.disclosure_r_top .media_h3 h3 {
  font-size: 20px;
  color: #333;
  padding-bottom: 44px;
  overflow: hidden;
  border-bottom: 1px dashed #dedede;
}
.announcement_group {
  padding: 34px 0;
  border-bottom: 1px dashed #dedede;
  overflow: hidden;
}
.announcement_group:hover span {
  color: #CAB792;
}
.announcement_group a {
  display: block;
  color: #666;
  font-size: 14px;
  line-height: 1;
}
.announcement_group a span.fl {
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.job_ask {
  width: 140px;
  height: 38px;
  line-height: 38px;
  text-align: center;
  color: #333;
  background: #eee;
  font-size: 20px;
  overflow: hidden;
  margin-bottom: 32px;
  margin-top: 2px;
}
.join_con ul {
  overflow: hidden;
}
.join_con li {
  float: left;
  width: 150px;
  text-align: center;
  font-size: 16px;
  color: #333;
}
.join_con li span {
  color: #666;
}
.join_con h4 {
  color: #333;
  font-size: 16px;
  overflow: hidden;
  margin: 40px 0 16px;
}
.join_con .law_group p {
  color: #666;
  font-size: 14px;
  line-height: 30px;
}
.join_way {
  height: 32px;
  line-height: 32px;
  background: #eee;
  width: 100%;
  color: #464646;
  margin-top: 40px;
  font-size: 18px;
}
.join_way p {
  padding-left: 16px;
}
.contact_one h4 {
  font-size: 22px;
  line-height: 2;
  margin: 10px 0;
  color: #333333;
  font-weight: normal;
}
.contact_address dl {
  width: 50%;
}
.contact_address dl dt {
  font-size: 20px;
  color: #333;
  line-height: 2;
}
.contact_address dl dd,
.contact_one p {
  color: #666666;
  font-size: 14px;
  line-height: 30px;
}
.contact_one {
  margin-bottom: 20px;
  overflow: hidden;
  position: relative;
}
.contact_one p a {
  color: #CAB792;
}
.contact_one img {
  position: absolute;
  top: 30px;
  right: 6px;
  width: 116px;
  height: 116px;
}
.contact_top h3 {
  margin-bottom: 26px;
  line-height: 1;
}
.operational-data-group {
  background: #fff;
  margin-top: 16px;
  overflow: hidden;
}
.operational-data-group .operational-tit {
  text-align: center;
  overflow: hidden;
}
.operational-data-group .operational-tit h3 {
  font-size: 20px;
  padding: 44px 0 12px;
  color: #333;
  font-weight: normal;
  line-height: 1;
}
.operational-data-group .operational-tit p {
  color: #999;
  font-size: 14px;
  line-height: 1;
  margin-bottom: 22px;
}
.operational-data-group .operate_time {
  height: 180px;
  background: #466a90;
  text-align: center;
  margin-bottom: 66px;
}
.operational-data-group .operate_time h4 {
  color: #fff;
  font-size: 14px;
  font-weight: normal;
  text-align: center;
  padding: 44px 0 22px;
}
.operational-data-group .operate_time li {
  display: inline-block;
  width: 42px;
  line-height: 68px;
  margin: 0 4px;
  height: 68px;
  background: url("../images/infor/pic_bgfornumber.png");
  background-size: 100% 100%;
  color: #fff;
  font-size: 32px;
  overflow: hidden;
}
.operational-data-group .operate_time li:last-child {
  font-size: 24px;
}
.operate-group-mt10 {
  margin-top: 10px;
  overflow: hidden;
  background: #fff;
}
.operate-group-mt10 .operate-tit {
  height: 120px;
  line-height: 120px;
  color: #fff;
  font-size: 20px;
  text-align: center;
  background: url("../images/infor/pic_bgfortitle.png") no-repeat;
  overflow: hidden;
}
.operate-group-mt10 .disclosure_group {
  margin-top: 50px;
}
.operate-group-mt10 .disclosure_group dl {
  float: left;
  width: 50%;
  text-align: center;
  overflow: hidden;
}
.operate-group-mt10 .disclosure_group dl dt {
  color: #999;
  font-size: 14px;
  margin-bottom: 60px;
}
.operate-group-mt10 .disclosure_group dl dd {
  font-size: 26px;
  color: #466a90;
  margin-bottom: 10px;
}
.operate-group-mt10 .operate-group-two {
  margin-top: 98px;
  overflow: hidden;
  text-align: center;
}
.operate-group-mt10 .operate-group-two > ul {
  display: inline-block;
  overflow: hidden;
  margin-bottom: 96px;
}
.operate-group-mt10 .operate-group-two > ul li {
  width: 122px;
  height: 146px;
  color: #fff;
  margin-top: 30px;
  background: url("../images/infor/pic_shape_2.png") no-repeat;
  padding: 34px 0 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.operate-group-mt10 .operate-group-two > ul li dt {
  font-size: 14px;
  margin-bottom: 20px;
}
.operate-group-mt10 .operate-group-two > ul li dd {
  font-size: 22px;
}
.operate-group-mt10 .operate-group-two > ul li:nth-of-type(2) {
  width: 146px;
  height: 175px;
  padding: 50px 0 0;
  background: url("../images/infor/pic_shape_1.png") no-repeat;
  margin: 0 72px 0;
}
.operate-group-mt10 .operate-group-two .operate-ten {
  overflow: hidden;
  margin-bottom: 80px;
  padding: 0 75px;
}
.operate-group-mt10 .operate-group-two .operate-ten dl {
  width: 400px;
}
.operate-group-mt10 .operate-group-two .operate-ten dl dd {
  font-size: 14px;
  color: #666;
  line-height: 36px;
  text-align: left;
}
.operate-group-mt10 .operate-group-two .operate-ten dl dd:last-child {
  text-align: right;
}
.operate-group-mt10 .operate-group-two .operate-ten dl dt {
  margin: 10px 0;
}
.operate-group-mt10 .operate-group-two .operate-ten dl dt .outer {
  width: 100%;
  height: 30px;
  background: #e6e6e6;
  position: relative;
}
.operate-group-mt10 .operate-group-two .operate-ten dl dt .outer .inner {
  width: 0;
  background: #466a90;
  display: block;
  height: 100%;
}
.rate_cic_dis {
  position: absolute;
  top: 100px;
  left: 195px;
  background: #fff;
  width: 150px;
  height: 150px;
  z-index: 2;
  border-radius: 100%;
}
.canvas_wrap {
  position: relative;
}
.operate-canvas {
  overflow: hidden;
  padding-bottom: 70px;
}
.operate-canvas li {
  width: 50%;
}
.operate-report {
  margin-top: 10px;
  overflow: hidden;
}
#swiper-02 .swiper-slide {
  width: 278px;
}
.information-bg .team-wrap {
  width: 100%;
}
