@charset"utf-8";
blockquote,
body,
code,
dd,
div,
dl,
dt,
fieldset,
form,
h1,
h2,
h3,
h4,
h5,
h6,
input,
legend,
li,
ol,
p,
pre,
td,
textarea,
th,
ul {
	margin: 0;
	padding: 0
}

html {
	color: #000
}

body {
	position: relative
}

object {
	overflow: auto;
	overflow-x: hidden;
	position: absolute;
	z-index: 1111
}

body {
	position: relative;
	font-size: 12px;
	font-family: Arial, Microsoft YaHei
}

table {
	border-collapse: collapse;
	border-spacing: 0
}

fieldset,
img {
	border: 0
}

address,
caption,
cite,
code,
dfn,
em,
strong,
th,
var {
	font-style: normal;
	font-weight: normal
}

li,
ol,
ul {
	list-style: none;
	color: #999
}

caption,
th {
	text-align: left
}

q:after,
q:before {
	content: ''
}

abbr,
acronym {
	border: 0;
	font-variant: normal
}

sup {
	vertical-align: text-top
}

sub {
	vertical-align: text-bottom
}

input,
select,
textarea {
	font-family: inherit;
	font-size: inherit;
	font-weight: inherit;
	*font-size: 100%
}

legend {
	color: #000
}

a {
	text-decoration: none;
	color: #000
}

a:hover {}

a:hover {
	text-decoration: none
}

textarea {
	resize: none
}

.fl {
	float: left
}

.fr {
	float: right
}

.font_size14 {
	font-size: 14px
}

.font_size16 {
	font-size: 16px
}

.font_size18 {
	font-size: 18px
}

.font_size20 {
	font-size: 20px
}

.font_size22 {
	font-size: 22px
}

.font_size24 {
	font-size: 24px
}

.font_size30 {
	font-size: 30px
}

.font_size32 {
	font-size: 32px
}

.font_size34 {
	font-size: 34px
}

.font_size70 {
	font-size: 70px
}

.con_wrap {
	width: 1080px;
	margin: 0 auto
}

.clear {
	clear: both
}